/*CSS by Emily Van Zummeren */

/*Imported Fonts*/

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Root Variables*/
:root{
	--md-blue: #1f2a44;
	--o-green: #76885B;
	--ch-gold: #e5c185;
	--linen: #f8f4ec;
	--dk-charcoal: #2b2b2b;
	--white: #faf9f6;
	--font-family: 'Playfair Display';
}
/*Global Styles (small)*/
hr{
	border-top: var(--ch-gold) solid 2px;
	max-width: 95%;
}

body{
	background-color: var(--white);
	color: var(--md-blue);
	font-family: var(--font-family);
	max-width: 600px;
	margin: auto;
	line-height: 150%;
	font-weight: 500;
}

header{
	background-color: var(--md-blue);
	color: var(--white);
	padding: 5%;
}

header img{
	display: flex;
	justify-content: center;
	margin: auto;
}

header h1{
	font-family: var(--font-family);
	font-size: 4.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

header p{
	font-size: 1.25rem;
	font-style: italic;
	display: flex;
	justify-content: center;
	padding: 2rem .5rem 0rem 0rem;
}

nav{
	background-color: var(--ch-gold);
	color: var(--md-blue);
	font-weight: 800;
	font-size: 1.5rem;
	padding: 10px;
}
nav ul {
	display: flex;
	justify-content: center;
	padding: .5rem;
}

nav ul li{
	margin: auto;
}

nav ul a{
	text-decoration: none;
}

nav ul a:visited{
	color: var(--md-blue);
}

nav ul a:hover{
	font-style: italic;
}

main h2{
	font-size: 2rem;
}

.welcome{
	padding: 4rem 1rem 0rem 1rem;
}

.welcome h2{
	font-weight: 600;
}

.welcome p{
	padding: 1rem 0rem;
}

.offerings{
	padding: 2rem 1rem;
}

.offerings h2{
	font-weight: 600;
	padding: 0rem 1rem .75rem 1rem;
}

.box {
	background-color: var(--o-green);
	color: var(--linen);
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
	box-shadow: 2px 0px 5px gray;
}

.box h3{
	font-size: 1.75rem;
	font-weight: 800;
	margin: .5rem;
}

.box p{
	margin: .5rem;
}

.box li{
	list-style: disc;
	list-style-position: inside;
	margin: .5rem;;
}

.gallery h2{
	padding: 2rem 1rem 0.75rem 1rem;
}

.gallery p{
	padding: 0rem 1rem;
}

.image{
	border-radius: 10px;
	box-shadow: 2px 0px 5px gray;
	margin: 1rem;
}

.image p{
	padding: 1rem;
	font-style: italic;
	display: flex;
	justify-content: center;
}

.button{
	background-color: var(--o-green);
	border-radius: 10px;
	margin: 1.5rem 0rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	color: var(--white);
	font-weight: 600;
}

footer{
	background-color: var(--md-blue);
	color: var(--linen);
	padding: 10%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer > a{
	text-decoration: none;
	color: var(--ch-gold);
	font-weight: 900;
}

/*Media Query(medium)*/

/*Media Query(large)*/

/*Media Query(xl)*/
